@model WebScraper.DTO.ParamsDTO

@{
    ViewData["Title"] = "Scraper";
}
<h1>@ViewData["Title"]</h1>

<div class="content">
    <form class="form-group" method="">
        <label asp-for="HomeUrl">Url страницы</label>
        <input asp-for="HomeUrl" class="form-control" /><br />
        <p class="text-center">Параметры</p>
        <label asp-for="ProductList">XPath списка продуктов</label>
        <input asp-for="ProductList" class="form-control" />
        <label asp-for="Name">Наименование продукта</label>
        <input asp-for="Name" class="form-control" />
        <label asp-for="Description">Описание продукта (html)</label>
        <input asp-for="Description" class="form-control" />
        <label asp-for="Image">Изображение продукта</label>
        <input asp-for="Image" class="form-control" />
        <label asp-for="Price">Цена</label>
        <input asp-for="Price" class="form-control" />
    </form>
</div>

<p><strong>Вывод:</strong></p>
<div id="logger">
</div>

<div class="result">
</div>

<button id="startParsing" class="btn btn-primary">Начать парсинг</button>
<button id="stopParsing" class="btn btn-danger">Остановить парсинг</button>