@{
    ViewData["Title"] = "Scraper";
}
<h1>@ViewData["Title"]</h1>

<div class="content">
    <label for"homeUrl">Url страницы</label>
    <input type="text" id="homeUrl" class="form-control" />
    <div class="params">
        <br /><p class="text-center">Параметры</p>
        <label for"productList">XPath списка продуктов</label>
        <input type="text" id="productList" class="form-control" />
        <label for"name">Наименование продукта</label>
        <input type="text" id="name" class="form-control" />
        <label for"name">Описание продукта (html)</label>
        <input type="text" id="description" class="form-control" />
        <label for"image">Изображение продукта</label>
        <input type="text" id="image" class="form-control" />
        <label for"price">Цена</label>
        <input type="text" id="price" class="form-control" />
    </div>
</div>
<br />
<div id="logger">
</div>
<br />
<div class="result"><a href="#">Скачать файл .csv</a>
</div>
<button id="startParsing" class="btn btn-primary">Начать парсинг</button>
<button id="stopParsing" class="btn btn-danger">Остановить парсинг</button>