@model WebScraper.DTO.ParamsDTO

@{
    ViewData["Title"] = "Scraper";
}
<h1>@ViewData["Title"]</h1>

<div class="content">
    <form class="form-group" method="">
        <label asp-for="HomeUrl">Url страницы</label>
        <input asp-for="HomeUrl" class="form-control" /><br />
        <p class="text-center">Параметры</p>
        <label asp-for="ProductList">XPath списка продуктов</label>
        <input asp-for="ProductList" class="form-control" />
        <label asp-for="Name">Наименование продукта</label>
        <input asp-for="Name" class="form-control" />
        <label asp-for="Description">Описание продукта (html)</label>
        <input asp-for="Description" class="form-control" />
        <label asp-for="ImgHref">Изображение продукта</label>
        <input asp-for="ImgHref" class="form-control" />
        <label asp-for="Price">Цена</label>
        <input asp-for="Price" class="form-control" /><br />
        <div class="spoiler-head btn btn-dark btn-block" data-toggle="collapse" data-target="#additional">Дополнительные параметры</div>
        <div class="spoiler-body collapse" id="additional">
            <label asp-for="Brand">Бренд</label>
            <input asp-for="Brand" class="form-control" />
            <label asp-for="Category">Категория</label>
            <input asp-for="Category" class="form-control" />
            <label asp-for="DescriptionText">Описание продукта (текст)</label>
            <input asp-for="DescriptionText" class="form-control" />
            <label asp-for="OldPrice">Старая цена</label>
            <input asp-for="OldPrice" class="form-control" />
        </div>
    </form>
</div>

<p><strong>Вывод:</strong></p>
<div id="logger">
</div>

<div class="result">
</div>

<button id="startParsing" class="btn btn-primary">Начать парсинг</button>
<button id="stopParsing" class="btn btn-danger">Остановить парсинг</button>