@{
    ViewData["Title"] = "Scraper";
}
<h1>@ViewData["Title"]</h1>

<div>
    Url страницы <input type="text" id="homeUrl" />
</div>
<div id="logger">
</div>
<button id="startParsing">Начать парсинг</button>